<div class="first_run_form success">
  <h3>Engines setup</h3>
  <h4>Opening system</h4>
  <p>The Engines system has started.</p>
  <p>Please wait for the Engines system GUI to open.</p>
  <p><small>System GUI URL: <%= @system_url %></small></p>
  <p><small>Current system status: <span id="system_status"><%= @system_status %></span></small></p>
</div>
<script>
setTimeout(function(){ window.location.href="<%= @system_url %>"; }, 1000);
</script>
