<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Engines first run</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      font-family: sans-serif;
      color: #333;
      font-size: 16px;
      background-color: #fff; }

    div.first_run_page {
      margin: 20px auto;
      border: 1px solid #ccc;
      width: 400px;
      padding: 0px 20px;
      border-radius: 0px;
      background-color: #fff;
      -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }

    h3, h4 { font-weight: 500; }
    .error h4 { color: #f66; }
    .success h4 { color: #696; }

    hint { font-size: 14px; color: #666; display: none; }
    legend { border-bottom: 1px solid #ccc; padding: 5px; }
    code { color: red; }
    div.field_group { padding: 5px 10px; }
    .brand { font-size: 24px; line-height: 36px; vertical-align: middle; }

    #toggle_hints {
      float: right;
      height: 36px;
      background-color: #fff;
      color: #48d;
      padding: 6px 12px;
      font-size: 20px;
      border: none;
      border-radius: 0px; }
    #toggle_hints:hover { cursor: pointer; color: #333; }

    .form_ok_button {
      background-color: #fff;
      color: #48d;
      padding: 6px 12px;
      font-size: 20px;
      border: none;
      border-radius: 0px; }
    .form_ok_button:hover {
      cursor: pointer; color: #333; }
    .form_back_button {
      background-color: #fff;
      color: #48d;
      padding: 6px 12px;
      font-size: 20px;
      border: none;
      border-radius: 0px; }
    .form_back_button:hover {
      cursor: pointer; color: #333; }

    .pull-right {
      float: right;
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    input[type='url'],
    input[type='text'],
    input[type='password'],
    input[type='email'],
    select,
    textarea {
       margin-bottom: 1px;
       display: block;
       width: 360px;
       height: 26px;
       padding: 6px 12px;
       font-size: 16px;
       line-height: 1.42857143;
       color: #555555;
       background-color: #fff;
       background-image: none;
       border: 1px solid #ccc;
       border-radius: 0px;
       -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
       -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
       -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
       transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
    input[type='url']:focus,
    input[type='text']:focus,
    input[type='password']:focus,
    input[type='email']:focus,
    select:focus,
    textarea:focus {
       border-color: #66afe9;
       outline: 0;
       -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
       box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
    select { width: 386px; height: 38px; }

    .field_group_half_width {
      display: inline-block;
    }
    .field_group_half_width input {
      width: 154px;
    }



  </style>
</head>
<body>
  <svg width='36' height='36' style='vertical-align: middle;'>
    <g transform='scale(0.12)'>
      <path d='
        M 150,300 L 280,225 L 280,75 L 150,0 L 20,75 L 20,225 L 150,300
        M 50,150 A 100,100 0 1,0 250,150 A 100,100 0 1,0 50,150 Z'
        style='fill:#48D;stroke-width:0' fill-rule='evenodd'>
      </path>
    </g>
  </svg> <span class="brand">Engines</span>
  <button type="button" id="toggle_hints">? Help</button>
  <script>
    // Show help
    function hints_hidden() {
      return window.getComputedStyle(document.getElementsByTagName('hint')[0], null).display == 'none';
    };
    var set_hints_display = function(display_state) {
      var hints = document.getElementsByTagName('hint')
      for (var i = 0; i < hints.length; i++) {
        hints[i].style.display = display_state;
      };
    };
    document.getElementById("toggle_hints").addEventListener("click", function() {
      if (hints_hidden()) { set_hints_display('block') } else { set_hints_display('none') };
    });
  </script>
  <%= yield %>
</body>
</html>
