<div class="first_run_page success">
<h3>Engines setup</h3>

<div id="clompleting_first_run_message">
  <h4>Completing setup</h4>
</div>

<div id="starting_system_message" style="display: none;">
  <h4>System starting</h4>
  <p>Current system status: <span id="system_status"></span></p>
</div>

<div id="opening_system_message" style="display: none;">
  <h4>Opening system</h4>
  <p><small>System GUI URL: <span id="system_gui_url"></span></small></p>
</div>
</div>
<script>
setTimeout(function(){ location.href = '/startup' ; }, 5000);
</script>


<script>
var main = function() {
  postCloseFirstRun();
};

var ajaxCall = function (type, URL, successFunc, errorFunc) {
  var ajaxRequest = new XMLHttpRequest();
  ajaxRequest.open(type, URL, true);
  ajaxRequest.onreadystatechange = function () {
    if (ajaxRequest.readyState == 4) {
      if (ajaxRequest.status == 200) {
        successFunc(ajaxRequest);
      } else {
        errorFunc(ajaxRequest);
      }
    };
  };
  ajaxRequest.send();
};


var postCloseFirstRun = function() {
  ajaxCall('POST',
    '<%= @system_url %>/v0/unauthenticated/bootstrap/first_run/complete',
    function() {
    setTimeout(function() {
      document.getElementById("clompleting_first_run_message").style.display = 'none';
      document.getElementById("starting_system_message").style.display = 'block';
      waitForSystemToStart();
    }, 2000);
  }, function() { alert('Error: failed to post clomplete first run.'); })
};

var getSystemStatus = function() {
  ajaxCall('GET',
    '<%= @system_url %>/v0/unauthenticated/bootstrap/mgmt/state',
    function(request) { return request.responseText },
    function() { alert('Error: failed to get system state.'); }
  )
};

var waitForSystemToStart = function() {



  var ajaxRequest = new XMLHttpRequest();
  ajaxRequest.open('GET', '/close', true);
  ajaxRequest.onreadystatechange = function () {
    if (ajaxRequest.readyState == 4) {
      if (ajaxRequest.status == 200) {
        document.getElementById("starting_system_message").style.display = 'none';
        document.getElementById("opening_system_message").style.display = 'block';
        setTimeout(function() {
          waitForSystemToOpen();
        }, 1000);
      } else {
        alert('Error: failed to close first run.'); // An error occurred during the ajaxRequest.
      }
    };
  };
  ajaxRequest.send();
};



waitForSystemToOpen();
window.location.href = systemURL();


main();

</script>
